/* Модальное окно в скрытом состоянии */
.modal {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* Модальное окно в видимом состоянии */
.modal.active {
	opacity: 1;
	visibility: visible;
}

/* Бэкграунд для затемнения */
.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.answer-pen {
	opacity: 0;
}
.modal .answer:hover .answer-pen {
	opacity: 1;
}
.modal__question:hover {
	border-color: black;
}
.modal__question:hover .trash-icon {
	opacity: 1;
}
